<html>
  <head>
    <title>Text Formatting di HTML</title>
    <link rel="stylesheet" href="assests/styles/content-style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  </head>
  <body>
    <!-- Navbar start -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
      <a class="navbar-brand" href="#"><img src="assests/images/unsia-logo.png" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5 nav-pills flex-column flex-sm-row">
          <li class="nav-item active">
            <a class="nav-link" href="content.html">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">content</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- navbar End -->
    <!-- content start -->
    <h1>
      <div class="container mt-5"><p class="text-center">Text Formatting di HTML (Bold, Italic, Underline, dll)</p></div>
    </h1>
    <p></p>
    <div class="container mt-3">
      <p class="text-justify">
        <br>Coba perhatikan kedua paragraf ini:
        <br><img src="https://www.petanikode.com/img/html/text/plain-vs-rich.webp">
        <br>Kamu lebih tertarik baca yang mana?
        <br>..yang terformat, atau yang polos (plain text)?
        <br>Teks yang terformat akan lebih mudah dibaca, karena ada penegasan seperti teks <b>tebal</b>, <i>miring</i>, dan <u>garis bawah</u>.
        <br>Saat kita mencari kata atau kalimat penting.. mata kita akan lebih mudah menemukannya pada teks yang terformat dibandingkan plain text.
        <br>Karena itu, dalam membuat web.. ada baiknya menggunakan format teks.
        <br>Nah, di HTML terdapat tag-tag yang khusus digunakan untuk <i>text formatting</i>.
      </p>
      <p>
        <h2>Membuat Teks Tebal</h2>
        <br>Teks tebal biasanya digunakan untuk memberikan penegasan pada teks tertentu, misalnya seperti judul, subjudul, huruf penting, dll.
        <br>Tag yang digunakan untuk membuat teks tebal di HTML adalah tag &lt;b&gt; (bold) dan tag &lt;strong&gt;. Kamu bebas mau pakai yang mana saja, hasilnya akan sama-sama tebal.
        <br> Contoh
        <br>
        <br><img src="assests/images/bold-coding.png">
        <br>
        <br>hasilnya
        <br>
        <br><img src="assests/images/bold-hasil.png">
      </p>
      <p>
        <h2>Membuat Teks Miring</h2>
        <br>Teks miring biasanya digunakan untuk menegaskan sebuah kata atau istilah baru. Teks miring di HTML dapat kita buat dengan tag &lt;i&gt; (italic) dan juga tag &lt;em&gt; (emphasis).
        <br> Contoh
        <br>
        <br><img src="assests/images/italic-coding.png">
        <br>
        <br>hasilnya
        <br>
        <br><img src="assests/images/italic-hasil.png">
      </p>
      <p>
        <br>untuk selengkapnya bisa cek di web source dibawah ini
        <br><i>source: <a href="https://www.petanikode.com/html-text-formatting/">https://www.petanikode.com/html-text-formatting/</a></i>
      </p>
    </div>
    <!-- content end -->
  </body>
</html>
